<h1>Detailed View</h1>
<p>
  <strong>Item</strong>
  <%= @product.item %>
</p>
 
<p size="100px">
  <% if ActionController::Base.helpers.resolve_asset_path("#{@product.img_file}.jpg")%>
        <%= image_tag("#{@product.img_file}.jpg", class: 'detail_image') %>
    <% end %>
</p>

<p>
    <%= @product.description %>
</p>

<p>
    <%= @product.price %>
</p>

<p>
    <%= @product.category%>
</p>

<p>
    <%= @product.quantity %>
</p>

<p>
    <%= @product.dimension_w %> x <%= @product.dimension_h %> x <%= @product.dimension_l%>
</p>

